---
const currentPath = Astro.url.pathname;
import {CircleCheckBig }from  '@lucide/astro';
---

<header>
  <nav class="sticky top-0 z-50 bg-white border-b border-gray-200 shadow-sm ">
  <div class="container mx-auto flex justify-between items-center px-4 py-3 md:py-20">
    <a href="#accueil" class="font-bold text-lg text-primary">Accueil</a>
    <div class="space-x-6 text-sm font-medium">
      <a href="#methode" class="hover:text-primary">Méthode</a>
      <a href="#preuves" class="hover:text-primary">Preuves</a>
      <a href="#contact" class="hover:text-primary">Contact</a>
    </div>
  </div>
</nav>
</header>